[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
openpyxl = "*"
xlrd = "*"
fairlearn = "*"
autogluon = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.17"
